* {
    font-family: sans-serif;
}

body {
    width: 900px;
    margin: 0 auto;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.box {
    padding: 20px;
    border: 3px solid #444;
}

.header-info {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
}

.header-text h1 {
    text-align: center;
}

.header-text button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.image img { width: 350px; }
.div-header-box {
    background-color: #222;
    padding: 20px 40px;
    }
    .div-header-box h2 {
    color: #fff;
    }
    
    .header-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    }
    
    .header-box {
    background-color: #fff;
    padding: 20px;
    border: 3px solid #555;
    }